html {
    background: url("[BACKGROUND_IMAGE_HERE]") no-repeat fixed;
}

nav {
    color: #DDDDDD;
    background-color: #16181C;

    top: 0;
}

main {
    color: #DDDDDD;
    background-color: #16181C;
}

aside {
    color: #DDDDDD;
    background-color: #16181C;
}
